.userList {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 50;
  font-size: 22px;
  line-height: 10px;
  color: #ffffff;
  display: grid;
  grid-template-rows: 150px auto 150px;
  gap: 10px;
  height: 500px;
  width: 400px;
  align-items: center;
  margin-left: 650px;
  // overflow: scroll;
  // position: relative;
  // scroll-behavior: smooth;
  // .scrollButton {
  //   color: #0b0b0b7a;
  //   font-weight: 50;
  //   font-size: 22px;
  //   line-height: 10px;
  //   width: 100px;
  //   height: 50px;
  //   position: fixed;
  //   bottom: 0;
  //   right: 0;
  // }
  .myBtn {
    padding: 13px 33px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 30px;
    color: #342d14;
    background-color: #ffc502;
  }
  .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 30;
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    word-spacing: 10px;
    padding: 4px;
    margin: 4px;

  }

}

