.postPageWrapper {
  // display: grid;
  // grid-template-rows: 100px auto 100px;
  font-family: 'Inter';
  font-style: normal;
  color: #ffffff;
  background-color:  #241002;
  align-items: center;
  height: 100%;
  //   align-items: center;
  //   justify-content: center;
  //   
  // }
}
