.userList {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 50;
  font-size: 30px;
  line-height: 10px;
  color: #ffffff;
  background-color: #241002;
  display: grid;
  grid-template-rows: 100px auto 100px;
  gap: 20px;
  height: 500px;
  width: 400px;
  align-items: center;
  margin-left: 650px;
  overflow-y: auto;
  position: relative;
  scroll-behavior: smooth;
  .scrollButton {
    color: #241002;
    font-weight: 50;
    font-size: 22px;
    line-height: 10px;
    width: 100px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .text{
    color:white;
  }
}

