.banner_info {
    font-family: 'Inter';
    font-style: normal;
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: #241002;
    opacity: .88;
    border-bottom: 4.5px solid #260901;
    box-shadow: 4px 4px #643C19;
    .img {
        margin-right: 401px;
        margin-top: 219px;
        margin-bottom: auto;
        margin: 0 auto;
        width: 253px;
        height: 267px;
    }
    
    .info {
        /*grid-area: n;*/
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-bottom: 120px;
    
    }
    
    .nazvanie {
        margin: 0;
    }
    
    .zagolovok {
    
        font-weight: 500;
        font-size: 60px;
        line-height: 73px;
        color: #F8FAFB;
    
    
    }
    
    .place {
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #F8FAFB;
    }
    
    .banner_info_buttons {
        width: 300px;
        height: 87px;
        padding: 0 0;
        /*font-size: 16px;
        font-weight: 500;*/
        border: 0;
        border-radius: 0;
        margin-bottom: 200px;
    
    
        /* margin: 0 ;*/
    
    
    }
    
    .btn_primary {
    padding: 13px 33px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 30px;
    color: #342d14;
    background-color: #ffc502;
    }
    .main_idea {
    
        /* margin-left: 557px;
       margin-top: 692px;
       margin-bottom: auto;  */
    
        margin: 0;
    
    }
    
    .zag {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    
        color: #FFFFFF;
    }
    
    .text_banner {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
}





